@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
@import 'tailwindcss';

body {
  font-family: 'Inter', sans-serif;
  background: #070709;
  color: white;
}
